body {
    background-image: url('images/4547617.jpg');
    background-size: cover;
    background-position: center;
}
main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

section {
    padding: 20px;
    width: 35%;
    /* border-radius: 50px; */
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    text-align: center;
  }

.christmas-logo {
    text-align: center;
    grid-column: 1 / 3;
}

.item1 {
    grid-column: 1 / 3;
    border-radius: 12px;
    padding-left: 10px;
}

.item2, .item3 {
    margin: 20px 0 20px 0;
    width: 150px;
    text-align: center;
    grid-column-gap: 20px;
    font-size: 1rem;
    /* margin: 4px 2px; */
    border-radius: 12px;
    color: floralwhite;
    font-family: 'Bree Serif', serif;
    letter-spacing: 1px;
    
}

.item2 {
    background-color: #1c4c1c;
}

.item3 {
    background-color: #a81414;
}

